# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_NAME="nx-local"
DATABASE_USER="postgres"
DATABASE_PASSWORD="password-change-me"
DATABASE_URL="postgresql://$DATABASE_USER:$DATABASE_PASSWORD@localhost:5432/$DATABASE_NAME"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth GitHub Provider
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# AWS S3
AWS_BUCKET_NAME="nx-local"
AWS_ACCESS_KEY_ID="access_key"
AWS_SECRET_ACCESS_KEY="SECRET_KEY"
# Region not needed for minio
AWS_REGION="us-west-2"
# Points to minio
AWS_ENDPOINT="http://localhost:9000"
